{% extends "index.twig" %}

{% block content %}
<section class="content-wrapper main-content clear-fix">
    <hgroup class="title">
        <h1>Reservations</h1>
        <h2>List of reservations</h2>
    </hgroup>
    <p>
        <a href="/reservation/create" class="btn btn-success">Create New</a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filter
        </button>
    <div class="collapse" id="collapseExample">
        <div class="well">
            <form method="post" action="/reservation/filter" class="validateFilters">
                <div class="row">


                        <div class='col-md-3'>
                            <div class="form-group">
                                <div class='input-group date' >
                                    <input type='text' id='datetimepicker6' name="filterFrom" class="form-control" placeholder="Filter from" />
                <span class="input-group-addon filterFrom">
                    <span class="fa fa-times"></span>
                </span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3'>
                            <div class="form-group">
                                <div class='input-group date' >
                                    <input type='text' id='datetimepicker7' name="filterTo" class="form-control" placeholder="Filter to" />
                <span class="input-group-addon filterTo">
                    <span class="fa fa-times"></span>
                </span>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-4 col-sm-12"><select class="form-control">
                            <option selected value="null">Select restaurant</option>
                            {% for restaurant in restaurants %}
                            <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
                                {% endfor %}

                        </select></div>
                    <div class="col-md-2 col-sm-12"><button type="submit" class="btn btn-primary btn-block">Filter</button></div>

                </div>


            </form>
        </div>
    </div>


    </p>
    {% if filterView != null %}
        <div class="row">
            <div class="col-md-6">

                <div class=" alert alert-warning center-block" role="alert">
                    <div class="row">
                        <div class="col-xs-10">This filter view!</div>

                    </div>


                </div></div>
        </div>
        {% endif %}
    <div class="table-responsive">
    <table class="table table-hover reservationsAll">
        <thead>

            <th>Reservation</th>
            <th>Restaurant</th>
            <th>Client</th>
            <th>Duration</th>


            <th>Guests number</th>
            <th>Actions</th>
        </thead>
        {% for reservation in reservations %}
            <tr
                {% if reservation.status == "canceled" %}
                    class="canceled bg-danger"
                    {% elseif reservation.status == "created" %}
                    class="original bg-success"
                {% elseif reservation.status == "modified" %}
                    class="modified bg-warning"

                {% endif %}
            >
                <td>{{ reservation.reservationDatetime }}</td>
                <td>{{ reservation.restaurant.name }}</td>

                <td>{{ reservation.personName }}</td>
                <td>{{ reservation.duration }} h</td>
                <td>{{ reservation.guestsNumber }}</td>

                <td>
                    <a href="/reservation/edit/{{ reservation.id }}" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i>&nbsp; Edit</a> |
                    <a href="/reservation/details/{{ reservation.id }}" class="btn btn-default btn-xs"><i class="fa fa-file-text-o"></i>&nbsp; Details</a> |
                    <a href="/reservation/delete/{{ reservation.id }}" class="btn btn-danger btn-xs"> <i class="fa fa-trash-o"></i>&nbsp; Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>

</section>
{% endblock %}