{% extends "index.twig" %}

{% block content %}
    <section class="content-wrapper main-content clear-fix">
        <hgroup class="title">
            <h1>Restaurants</h1>
            <h2>List of restaourants</h2>
        </hgroup>
        <p>
            <a href="/restaurant/create">Create New</a>
        </p>
        <table>
            {% for restaurant in restaurants %}
                <tr>
                    <td>{{ restaurant.name }}</td>
                    <td>
                        <a href="/restaurant/edit/{{ restaurant.id }}">Edit</a> |
                        <a href="/restaurant/details/{{ restaurant.id }}">Details</a> |
                        <a href="/restaurant/delete/{{ restaurant.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
{{ element }}
    </section>
{% endblock %}